pip
numpy
pandas
scipy
scikit-learn==1.2
lightgbm==3.3.4
boto3
tqdm
more-itertools
plotly
matplotlib
tabulate
notebook
jupyter
ipynb-py-convert
kaggle
beartype  # to match the requirements in recsys-dataset project and run testset.py
fastparquet
polars
pyarrow
dask
gensim
faiss
bokeh>=2.1.1
# annoy  # fails installation
